<!DOCTYPE html>
<html>
	<head>
		<title>Spreadsheet</title>
		<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js'></script>
		<script src='javascripts/spreadsheet.js'></script>
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'></link>
		<link rel='stylesheet' href='stylesheets/style.css'></link>
	</head>

	<body ng-app = 'spreadsheet'>
		<div id='main' class='container' ng-controller='mainController'>
			<div class = 'topRow'>
				<button type='button' class='btn btn-primary' ng-click='addRow()'>Add Row</button>
				<button type='button' class='btn btn-primary' ng-click='addColumn()'>Add Column</button>
				<button type='button' class='btn btn-danger' ng-click='deleteRow()'>Delete Row</button>
				<button type='button' class='btn btn-danger' ng-click='deleteColumn()'>Delete Column</button>
			</div>
			<div class='spreadsheet'>
				<div class='rows' ng-repeat='row in rows'>
					<input class='data' ng-repeat='data in row track by $index'></input>
				</div>
			</div>
		</div>
	</body>
</html>